@model dynamic

@{
    ViewBag.Title = "Welcome";
    Layout = "_Layout";
}

<h2>Movies - Welcome, @ViewData["name"] </h2>

<ul>
    @for (var i = 0; i < (int) ViewData["ID"]; i++)
    {
        <li>
            @ViewData["name"]
        </li>
    }
</ul>

